
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_AddItem.cshtml";
}

@section Scripts{
}


<div class="page-header">
    <h1>Enter the information for the Robot</h1>
</div>
<form id="contact-form" class="form-horizontal" method="post" action="/Contact/Add" role="form">
    @Html.Partial("_Contact")
    <div style="height:25px;"></div>
    <div class="form-group form-group-lg">
        <button type="submit" class="btn btn-lg btn-defaul btn-custom">Submit</button>
        <a href="/Home/Index" class="btn btn-default btn-lg">Return</a>
    </div>
</form>


