
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_AddItem.cshtml";
}

@section Scripts{
}

<div class="panel-body">
    <div class="panel-heading">
        <h1>Enter the information for the Robot</h1>
    </div>

    <form id="contact-form" class="form-horizontal" method="post" action="/Contact/Add" role="form">
      

            @Html.Partial("_Contact")
            <div style="height:25px;"></div>
            <div class="form-group form-group-custom ">
                <button type="submit" class="btn btn-lg btn-defaul btn-custom">Submit</button>
            </div>
       
       
    </form>
</div>
