@{
    ViewBag.Title = "EY Robot Site";
    Layout = "~/Views/Shared/_AddItem.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h1>Welcome</h1>
            <p class="lead">Please select what robot you want to see in action</p>
            <div style="height:50px;"></div>
            <p><a href="/Contact" class="btn btn-custom btn-lg">I want to see a rule based robot send me an email</a></p>
            <div style="height:20px;"></div>
            <p><a href="/Invoice" class="btn btn-custom btn-lg">I want to see an artificial intelligence robot analyze an invoice</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <img class="bot-size" src="~/Content/Images/bot.png" />
        </div>
    </div>
</div>