

.header {
    background-color: #333;
    border-bottom: 1px solid #c0c0c0;
    height: 56px;
    color: #fff;
}

.ey-logo {
    height: 40px;
    width: 46px;
    background-repeat: no-repeat;
    display: block;
    /* margin: auto; */
}

.logo {
    float: left;
    width: 100px;
    background-color: #333;
    padding: 8px 15px 18px 28px;
    text-align: center;
}

.nav-bar-custom{
    height: 76px;
    background-color: #333;
}

.btn-custom {
    background-color: #ffe600 !important; 
    border-color: #ffe600 !important;
    color: #333333 !important;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

img.bot-size {
  width:186px;
  height:355px;
}

.custom-size{
    width: 150px;
}