<div class="jumbotron">
    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <h1>@ViewBag.WelcomeMessage</h1>
            <div style="height:50px;"></div>
            <p class="lead">@ViewBag.WelcomeSubtitle</p>
            <div style="height:50px;"></div>
            <p><a href="@ViewBag.WelcomeLink" class="btn btn-custom btn-lg custom-size"><strong>YES!</strong></a></p>
        </div>
        <div class="col-md-2 col-sm-12">
            <img class="bot-size" src="/Content/Images/bot.png" />
        </div>
    </div>
</div>
